/* select all elements */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Silkscreen';
    scroll-behavior: smooth;
    border: 5px solid #333;
    line-height: 1.5;
}


/* header, main and footer */
header, main, footer{
    min-width: 100%;
    text-align: center;
}

header, footer{
    background-color: #96ceb4;
}
/* header */
header{
    display: inline-flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

main{
    background-color: #ffeead;
    /* background-size: cover; */
}

a{
    color: #000;
    text-decoration: none;
    display: block;
}

.menu-list li a{
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

 li a:hover, a:focus{
    background-color: #000;
    color: whitesmoke;
    border-radius: 10px;
}

.menu-list li a:active{
    color: turquoise;
}

.logo{
    width: 3em;
    border-radius: 1em;
}

.menu{
    align-items: flex-end;
    margin: 5px 10px 0;
}
.menu-list{
    display: inline-flex;
    list-style: none;
    border-radius: 10px;
}

.menu-list li{
    padding: 0 5px;
}

h1,h2,h3,h4,h5,h6{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
    background-color: #333;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 1rem 200px;
    border-radius: 2rem;
}


h2{
    background-color: #000;
    color: whitesmoke;
}

h3{
    font-size: 2rem;
}

.resume{
    width: 100%;
}

dt{
    font-size: 2rem;
    font-weight: bolder;
    margin: 2rem 0 0 ;
}

.github-link{
    color: white;
    background-color: rgb(83, 83, 83);
    border: 1px solid #000;
    border-radius: 5rem;
    width: 100px;
    display: flex;
    margin: 5px auto;
    justify-content: center;
    
}

.github-link:hover, .github-link:focus{
    background-color: black;
    color: whitesmoke;
}

.github-link:active{
    color: turquoise;
}

.home-heading{
    margin-top: -4.7px;
}

.wrapper{
    min-width: 100%;
    align-content: center;
    background-color: #96ceb4;
    height: 100vh;
}

.wrapper img{
    display: block;
    margin: 15px auto;
}

.wrapper p{
    text-align: center;
}

.profile{
    width: 25rem;
    border-radius: 50em;
}

dt{
    font-weight: bold;
}



.skills{
    margin-left: 15px;
}

legend{
    font-size: larger;
    font-weight: bold;
}

label{
    padding-right: 10px;
    font-weight: bold;
}

textarea{
    margin-left: 15px;
}

.skills li{
    list-style: none ;
}

.form-details{
    font-weight: bold;
    margin: 0 0 0.5rem;
}

form{
    width: 500px;
    margin: auto;
}

button{
    font-family: 'Silkscreen';
    font-size: 1rem;
    background-color: rgb(84, 84, 84);
    color: white;
    padding: 3px;
    border-radius: 20px;
    margin: 5px 5px;
    cursor: pointer;
}

button:active{
    color: turquoise;
}

button:hover{
    background-color: #000;
}
button:active{
    color: turquoise;
}

fieldset div{
    margin: 0 0 10px;
}

input{
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

input:hover, input:active{
    color: whitesmoke;
    background-color: #000;
}

.textarea-comments{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 3px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.tel-link{
    color: whitesmoke;
    background-color: rgb(106, 106, 106);
    border: 2px solid #000;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    width: 10rem;
    margin: 0.5rem auto;
}

.tel-link:hover, .tel-link:focus{
    background-color: #000;
}

.tel-link:active{
    color: turquoise;
}

.email-link{
    background-color: rgb(106, 106, 106);
    color: whitesmoke;
    border: 2px solid #000;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    width: 15rem;
    margin: 0.5rem auto;
}

.email-link:hover, .email-link:focus{
    background-color: #000;
}

.email-link:active{
    color: turquoise;
}

.contact-p{
    font-size: 1.5rem;
    font-weight: bold;
}